nav{
    background-color: #7d2852;
}

.wrapper{
    text-align: center ; 
    display: flex;
    align-items: center;
    justify-content: center;
       
}

#center-button{
    position: absolute;
    top: 50% ;
    background-color: #7d5228;
   
}


