<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_840380bc1b104cc192d5b90d7db893f2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_840380bc1b104cc192d5b90d7db893f2" ></div>
        
</body>
<script>    
    
            var map_840380bc1b104cc192d5b90d7db893f2 = L.map(
                "map_840380bc1b104cc192d5b90d7db893f2",
                {
                    center: [15.4945763, 73.819769],
                    crs: L.CRS.EPSG3857,
                    zoom: 16.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7b86c3f0c26c4844a6dbb0ee159fc448 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
            var marker_71e633afde104194800979858d3c1652 = L.marker(
                [15.401245999999999, 74.002902],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_f421eb41478f4485b86d26596cbf202a = L.popup({"maxWidth": 450});

        
            var html_56920dc3a5974a70905bbbd891d7329f = $(`<div id="html_56920dc3a5974a70905bbbd891d7329f" style="width: 100.0%; height: 100.0%;">depth: large<br>width: small<br>location: right<br>fixed: False<br></div>`)[0];
            popup_f421eb41478f4485b86d26596cbf202a.setContent(html_56920dc3a5974a70905bbbd891d7329f);
        

        marker_71e633afde104194800979858d3c1652.bindPopup(popup_f421eb41478f4485b86d26596cbf202a)
        ;

        
    
    
            var marker_9b24fe490b7945eaaa685af2da0ee3dd = L.marker(
                [15.401234, 74.002933],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_c4caccbedf1b4055b48495d388153fe4 = L.popup({"maxWidth": 450});

        
            var html_d0c18b7b93c04471b9afb39557149750 = $(`<div id="html_d0c18b7b93c04471b9afb39557149750" style="width: 100.0%; height: 100.0%;">depth: small<br>width: medium<br>location: left<br>fixed: True<br></div>`)[0];
            popup_c4caccbedf1b4055b48495d388153fe4.setContent(html_d0c18b7b93c04471b9afb39557149750);
        

        marker_9b24fe490b7945eaaa685af2da0ee3dd.bindPopup(popup_c4caccbedf1b4055b48495d388153fe4)
        ;

        
    
    
            var marker_a3ff2ca98af44a7394b374ae7d818269 = L.marker(
                [15.401089, 74.003062],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_6ea8957fdaae4157b0a5fab0fa12d35e = L.popup({"maxWidth": 450});

        
            var html_72e391c6d8864db6a0ecba7507ac71ea = $(`<div id="html_72e391c6d8864db6a0ecba7507ac71ea" style="width: 100.0%; height: 100.0%;">depth: medium<br>width: large<br>location: right<br>fixed: False<br></div>`)[0];
            popup_6ea8957fdaae4157b0a5fab0fa12d35e.setContent(html_72e391c6d8864db6a0ecba7507ac71ea);
        

        marker_a3ff2ca98af44a7394b374ae7d818269.bindPopup(popup_6ea8957fdaae4157b0a5fab0fa12d35e)
        ;

        
    
    
            var marker_2311fff4c6a9473284721b505d7815ce = L.marker(
                [15.403073000000001, 74.00813199999997],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_9154512801cd43b9b200e1417395df1e = L.popup({"maxWidth": 450});

        
            var html_262b0a4ed0f74679a08cf172c5056fa8 = $(`<div id="html_262b0a4ed0f74679a08cf172c5056fa8" style="width: 100.0%; height: 100.0%;">depth: large<br>width: small<br>location: left<br>fixed: True<br></div>`)[0];
            popup_9154512801cd43b9b200e1417395df1e.setContent(html_262b0a4ed0f74679a08cf172c5056fa8);
        

        marker_2311fff4c6a9473284721b505d7815ce.bindPopup(popup_9154512801cd43b9b200e1417395df1e)
        ;

        
    
    
            var marker_8291abd4340741ad9e42bdc775b1e770 = L.marker(
                [15.403039999999999, 74.00805600000002],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_fb7ecd1e802a4e849c4ebbb1be173778 = L.popup({"maxWidth": 450});

        
            var html_5bea953f71a849af898f330eca7bedc4 = $(`<div id="html_5bea953f71a849af898f330eca7bedc4" style="width: 100.0%; height: 100.0%;">depth: small<br>width: medium<br>location: right<br>fixed: False<br></div>`)[0];
            popup_fb7ecd1e802a4e849c4ebbb1be173778.setContent(html_5bea953f71a849af898f330eca7bedc4);
        

        marker_8291abd4340741ad9e42bdc775b1e770.bindPopup(popup_fb7ecd1e802a4e849c4ebbb1be173778)
        ;

        
    
    
            var marker_bfa9b3187d804ecaa38d212c1c8b4652 = L.marker(
                [15.402678, 74.007713],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_390803fc229a46c6abc6912d671a50a0 = L.popup({"maxWidth": 450});

        
            var html_f98ad7b4939b43bb8b41536292c96fbc = $(`<div id="html_f98ad7b4939b43bb8b41536292c96fbc" style="width: 100.0%; height: 100.0%;">depth: medium<br>width: large<br>location: left<br>fixed: True<br></div>`)[0];
            popup_390803fc229a46c6abc6912d671a50a0.setContent(html_f98ad7b4939b43bb8b41536292c96fbc);
        

        marker_bfa9b3187d804ecaa38d212c1c8b4652.bindPopup(popup_390803fc229a46c6abc6912d671a50a0)
        ;

        
    
    
            var marker_4810c77477d24be0b9665578030e5972 = L.marker(
                [15.402637, 74.007563],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_eea1fcb220434196b30e11876ce66dd5 = L.popup({"maxWidth": 450});

        
            var html_15d39036328e43c89c697e9947295077 = $(`<div id="html_15d39036328e43c89c697e9947295077" style="width: 100.0%; height: 100.0%;">depth: large<br>width: small<br>location: right<br>fixed: False<br></div>`)[0];
            popup_eea1fcb220434196b30e11876ce66dd5.setContent(html_15d39036328e43c89c697e9947295077);
        

        marker_4810c77477d24be0b9665578030e5972.bindPopup(popup_eea1fcb220434196b30e11876ce66dd5)
        ;

        
    
    
            var marker_356aef17d6464a5990426e082df436df = L.marker(
                [15.398516, 74.003073],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_4933bb1194164f88948a7c846473c516 = L.popup({"maxWidth": 450});

        
            var html_45f4fedc16844c5284a13923f371a6ff = $(`<div id="html_45f4fedc16844c5284a13923f371a6ff" style="width: 100.0%; height: 100.0%;">depth: small<br>width: medium<br>location: left<br>fixed: True<br></div>`)[0];
            popup_4933bb1194164f88948a7c846473c516.setContent(html_45f4fedc16844c5284a13923f371a6ff);
        

        marker_356aef17d6464a5990426e082df436df.bindPopup(popup_4933bb1194164f88948a7c846473c516)
        ;

        
    
    
            var marker_8b5d084eea384bb19deb1b867ce1da61 = L.marker(
                [15.398515, 74.003051],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_0f8a85d85d7d476f96ea7a5654d2d115 = L.popup({"maxWidth": 450});

        
            var html_06511568969d4ddda738506a99522c29 = $(`<div id="html_06511568969d4ddda738506a99522c29" style="width: 100.0%; height: 100.0%;">depth: medium<br>width: large<br>location: right<br>fixed: False<br></div>`)[0];
            popup_0f8a85d85d7d476f96ea7a5654d2d115.setContent(html_06511568969d4ddda738506a99522c29);
        

        marker_8b5d084eea384bb19deb1b867ce1da61.bindPopup(popup_0f8a85d85d7d476f96ea7a5654d2d115)
        ;

        
    
    
            var marker_f84afdcdc50547cba3d2029925721445 = L.marker(
                [15.398396, 74.00301999999998],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_e8dc1f11e35e43db8073af9547aca660 = L.popup({"maxWidth": 450});

        
            var html_fe2e53af43d34fdc9af1aaa8592bfa1c = $(`<div id="html_fe2e53af43d34fdc9af1aaa8592bfa1c" style="width: 100.0%; height: 100.0%;">depth: large<br>width: small<br>location: left<br>fixed: True<br></div>`)[0];
            popup_e8dc1f11e35e43db8073af9547aca660.setContent(html_fe2e53af43d34fdc9af1aaa8592bfa1c);
        

        marker_f84afdcdc50547cba3d2029925721445.bindPopup(popup_e8dc1f11e35e43db8073af9547aca660)
        ;

        
    
    
            var marker_2951fab32256485780ccbd468bb322d2 = L.marker(
                [15.4945763, 73.819769],
                {}
            ).addTo(map_840380bc1b104cc192d5b90d7db893f2);
        
    
        var popup_eee060e9685d4f56a42e837724fdcbb0 = L.popup({"maxWidth": 450});

        
            var html_7108272a6e2d4340ad96f61aba88a473 = $(`<div id="html_7108272a6e2d4340ad96f61aba88a473" style="width: 100.0%; height: 100.0%;">depth: small<br>width: small<br>location: left lane<br>fixed: True<br></div>`)[0];
            popup_eee060e9685d4f56a42e837724fdcbb0.setContent(html_7108272a6e2d4340ad96f61aba88a473);
        

        marker_2951fab32256485780ccbd468bb322d2.bindPopup(popup_eee060e9685d4f56a42e837724fdcbb0)
        ;

        
    
</script>