<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ceeae40e40a54711b6fb02cbe574d7f5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ceeae40e40a54711b6fb02cbe574d7f5" ></div>
        
</body>
<script>    
    
            var map_ceeae40e40a54711b6fb02cbe574d7f5 = L.map(
                "map_ceeae40e40a54711b6fb02cbe574d7f5",
                {
                    center: [15.493595699999998, 73.83013220000001],
                    crs: L.CRS.EPSG3857,
                    zoom: 16.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e2ec6cde025a4da091e097d1c783bbef = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_4bcf35e654e24a1891ad66af0d438197 = L.marker(
                [15.401246, 74.002902],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_a267aa9c24cc44fd94ff5d3ea1fa37fc = L.marker(
                [15.401234, 74.002933],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_674f389ee22f4c43908e1c0d4e0b50df = L.marker(
                [15.401089, 74.003062],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_25e0044abf60429884fb4ef43b900ddc = L.marker(
                [15.403073, 74.00813199999997],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_3107609ab74d4d2d8ae126d929392c94 = L.marker(
                [15.40304, 74.00805600000002],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_89703af3b98741b29ab2aa5b1a68eb16 = L.marker(
                [15.402678, 74.007713],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_85df2eda2c2e44f9a724f773ad093201 = L.marker(
                [15.402637, 74.007563],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_c99d81771f1241cd861cc8d5f3b2ff7c = L.marker(
                [15.398516, 74.003073],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_929e0006143340c8b996be4c358ea137 = L.marker(
                [15.398515, 74.003051],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_326e232f9e7e4a648913b23bb06a6cdc = L.marker(
                [15.398396, 74.00301999999998],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_bb019f073bc647a0af38b4c01ad1bf59 = L.marker(
                [15.493595699999998, 73.83013220000002],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
    
            var marker_47a0b5396b124ff4a504174900adc042 = L.marker(
                [15.493595699999998, 73.83013220000001],
                {}
            ).addTo(map_ceeae40e40a54711b6fb02cbe574d7f5);
        
</script>